In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/Users/sebastiandodt/Downloads/final table (1).csv')
df1 = df.groupby(['Registered Owner'])['loitering'].sum().reset_index().sort_values('loitering', ascending=False)
df2 = df.groupby(['Registered Owner'])['mmsi'].nunique().reset_index().sort_values('mmsi', ascending=False)
df3 = df1.merge(df2, on='Registered Owner', how='left').head(50)

chinese = [
    'China National Fisheries Corporation',
    'Wei Fong Shipping Co Ltd',
    'Pingtairong Ocean Fishery',
    'Zhoushan Ningtai Ocean Fish',
    'Pingtan Marine Enterprise Ltd',
    'Fujian Gangshun Pelagi',
    'Zhoushan Zhongju Ocean',
    'Rongcheng Marine Fishery Co',
    'Rongcheng East China Fisheries',
    'Zhoushan Haili Ocean Fisheries'
    ]
df3.loc[df3['Registered Owner'].isin(chinese),:]

                  Registered Owner  loitering  mmsi
5         Wei Fong Shipping Co Ltd       1120     4
11       Pingtairong Ocean Fishery        764     2
15     Zhoushan Ningtai Ocean Fish        688     5
29   Pingtan Marine Enterprise Ltd        371     3
31          Fujian Gangshun Pelagi        321     3
38          Zhoushan Zhongju Ocean        233     1
40     Rongcheng Marine Fishery Co        222     4
43  Rongcheng East China Fisheries        201     2
45  Zhoushan Haili Ocean Fisheries        197     3